/* tablet */
@media (min-width: 768px) {
  .header, .header-main {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header-logos {
    justify-content: flex-start;
  }

  .header-avatar {
    justify-content: flex-end;
  }

  .avatar-iniciales {
    height: 60px;
    width: 60px;
    font-size: 1.1rem;
  }

  .header-titulo {
    font-size: 2rem;
  }

  .main, .nav-main {
    width: 80%;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  .login-panel {
    padding: 1.5rem;
  }

  .nav-btn, .nav-btn-logout {
    width: 100%;
  }


}



/* movil */
@media (max-width: 480px) {

  .header .header-titulo {
    font-size: 1.5rem;
  }

  .titulo {
    font-size: 1.3rem;
  }

  .logo {
    height: 45px;
  }
  .avatar-iniciales {
    height: 45px;
    width: 45px;
    font-size: 0.85rem;
  }
  .main, .nav-main {
    width: 80%;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }
  .nav-btn, .nav-btn-logout {
    font-size: 0.9rem;
    width: 100%;
  }

  .rol-selector {
    flex-direction: column;
    gap: 0.5rem;
  }
  .btn-nuevo {
    font-size: 0.9rem;
  }

    /* footer responsive */
  footer {
    font-size: 0.75rem;
    padding: 0.5rem;
    position: relative;   
    bottom: 0;         
    left: 0;
    width: 100%;       
  } 
}